/*RESET*/
html, body, div, span, applet, object, iframe, table, caption, 
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend {border-style: none;border-color: inherit;border-width: 0;padding: 0;vertical-align: baseline;font-family: inherit;font-weight: inherit;font-style: inherit;font-size: 100%;outline: 0;margin-left: 0;margin-right: 0;margin-top: 0; margin-bottom: 0} 
  :focus {outline: 0;} 
html {min-height: 100%; min-width: 1030px;}
body {background: white;line-height: 1;color: black; height: 100%;} 
ol, ul {list-style: none;} 
table {border-collapse: separate;border-spacing: 0;} 
caption, th, td {font-weight: normal;text-align: left;} 
blockquote:before, blockquote:after, q:before, q:after {content: "";} 
blockquote, q {quotes: "" "";} 
article, aside, details, figcaption, 
figure, footer, header, hgroup, 
main, nav, section, summary{display: block;}
a{text-decoration: none;}
/*FIM RESET*/


/*DEFAULT*/
.color-azul {color: #004991;}

body {background: url(../images/background2.png) #BDE4EB repeat-x; font-family: 'Myriad Pro'; color: #514b51; font-family: Arial; font-size: 12px;}
.container {width: 1020px; margin: auto;}
.content {width: 100%; position: relative; overflow: hidden;}
header {height: 150px; position: relative;}
.logo {margin-left: -254px; float: left; position: relative; z-index: -1; height: 150px;}
.logo img {position: absolute;}
.user-logado {display: inline-block; float: right; background: #a2d0da; text-align: center; width: 240px; height: 50px; border-radius: 3px; line-height: 52px; margin-left: -100px; margin-top: 37px; }
.user {color: #006ab4;}
.painel-login {width: 375px; height: 100px; border-radius: 3px; background: #ededed; float: right; margin-top: 10px; display: block;}
.siga {float: left; width: 90px; height: 100px; background: #d5e0e8; border-radius: 3px 0 0 3px; border-right: dashed 2px #ccc;}
.siga span {display: block; text-align: center; margin-top: 10px; font-size: 14px;}
.siga p {margin: 15px 0 0 24px;}
.siga a {float: left; width: 23px; height: 24px; display: inline-block;}
.siga .siga-face {background: url(../images/icon-face1.png) no-repeat; width: 17px; margin-right: 7px;}
.siga .siga-facebook {background: url(../images/icon-face1.png) no-repeat; width: 17px; margin-right: 7px;}
.siga .siga-youtube {background: url(../images/icon-youtube1.png) no-repeat;}
form#form-login {font-size: 14px;}
form#form-login span {text-align: center; display: block; margin: 10px 0 5px 0;}
form#form-login p {margin: 10px 0 3px 12px; display: inline-block;}
form#form-login input[type="text"], form#form-login input[type="password"] {border: solid 1px #ced8db; width: 70px; height: 26px; border-radius: 3px; box-shadow: inset 0px 0px 16px #E4E4E4; padding: 0px 10px;}
form#form-login input[type="submit"] {width: 60px; height: 28px; }
form#form-login a {font-size: 11px; margin-left: 108px;}
.menu {width: 100%; height: 30px; float: left; clear: both; margin-bottom: 20px;}
.menu ul li {float: left; border-right: dotted 1px #020c51; height: 20px; margin-right: 10px; padding-right: 10px;}
.menu ul li:last-child {border-right: none;}
.menu ul li a {color: #020c51; font-size: 15px; margin-top: 3px; display: inline-block;}
.menu ul li a:hover {color: #004991;}
footer {width: 100%; /*position: absolute;*/ border-top: solid 4px #a6bac3; border-bottom: solid 3px #c8e3ea; background: #5faebf; margin-top: 40px;}
footer .borda {border-top: solid 1px #c5e3ee; border-bottom: solid 22px #222222;}
.links {width: 100%; height: 124px;}
.links div {height: 96px; float: left; border-left: dotted 1px #46757f; padding-left: 10px; margin-right: 35px; margin-top: 17px; line-height: 17px;}
.links div h3 {font-size: 18px; color: #222222; margin-bottom: 10px;}
.links div a {color: #3b3c3c;}
.links div a:hover {color: #020c51;}
.redes-sociais {width: 230px;}
.redes-sociais ul {width: 105px; height: 28px; float: left; border-left: dotted 1px #46757f; border-right: dotted 1px #46757f; padding-left: 10px; margin-left: 10px;}
.redes-sociais a {display: inline-block; float: left; margin-right: 10px;}
.google {background: url(../images/google_plus.png) no-repeat; background-size: 95%; width: 25px; height: 25px;}
.linkedin {background: url(../images/linkedin.png) no-repeat; background-size: 100%; width: 25px; height: 25px;}
.twitter {background: url(../images/icon-twitter.png)no-repeat; width: 25px; height: 25px; }
.facebook {background: url(../images/icon-facebook.png) no-repeat; width: 25px; height: 25px;}
.youtube {background: url(../images/icon-youtube.png)no-repeat; width: 25px; height: 25px;}
.links div.redes-sociais h3 {margin-bottom: 25px;}
.copyright {height: 43px; background: #222222; border-radius: 7px 7px 0 0;}
.copyright p {display: inline-block; margin-left: 204px; color: #ffffff; font-size: 15px; font-family: 'Arial Narrow'; line-height: 63px;}
.copyright h2 {display: inline-block; float: left; margin: 6px 0 0 6px;}

/*PÁGINA INICIAL*/
.conteudo {position: relative; z-index: 2; width: 1020px; min-height: 430px; margin-top: 30px; float: left;}
.container-conteudo {min-height: 775px;}
.banner {position: relative; width: 992px; height: 320px; margin: 0 0 20px 14px; outline: solid 14px rgba(255, 255, 255, 0.57); background: rgb(244,244,244); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(207,205,205,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(207,205,205,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(207,205,205,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(207,205,205,1) 100%); /*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(207,205,205,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(207,205,205,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#00cfcdcd',GradientType=0 ); /* IE6-9 */
}
.wrapper-thumb {position: absolute; width: 171px; height: 315px; float: left; overflow: hidden; padding-top: 5px; margin: 0 50px 0 5px;}
.wrapper-thumb li {border: solid 3px #63b0c2; height: 94px; margin-bottom: 5px; overflow: hidden; border-radius: 3px;}
.wrapper-thumb li img { cursor: pointer;}
.wrapper-banner {float: left; overflow: hidden; height: 320px; width: 700px; position: relative; left: 230px;}
.wrapper-banner li { position: absolute; top: 0; left: 0;}
.wrapper-banner li img { position: absolute; top: 0; left: 0; z-index: 3000;}
.localiza-empresas {width: 100%; height: 60px; margin-top: 20px; position: absolute;}
.localiza-empresas a {color: #403f3f; font-size: 32px; display: inline-block; float: left; width: 100%;}
.localiza-empresas span.btn-localiza {background: url(../images/btn-localiza.png); width: 241px; height: 30px; float: right;}
.localiza-empresas p {color: gray; font-size: 54px; background: yellow;}

/*BUSCA EMPRESA*/

.busca-empresa form {width: 100%; height: 50px; float: left;}
.busca-empresa form div {float: left     ; margin-right: 10px;}
.busca-empresa form div label {display: block; color: #004991; font-size: 16px; margin-bottom: 10px;}
.busca-empresa form div input[type="text"] {border: solid 1px #9C9FA0; width: 390px; height: 29px; border-radius: 5px; box-shadow: inset 0px 0px 16px #E4E4E4; padding: 0px 10px; text-transform: uppercase;font-size: 15px;}
.busca-empresa form input[type="submit"] {width: 88px; height: 33px; margin-top: 23px;}
.busca-empresa form div select {width: 160px; height: 33px; margin-top: -1px; padding-top: 9px; /*border: solid 1px #9C9C9C; box-shadow: 0px 0px 0px #9C9C9C;*/}
.wrapper-empresa {float: left; width: 100%; margin-top: 50px;}
.wrapper-empresa ul li { margin-bottom: 40px; padding-bottom: 40px; float: left; border-bottom: 2px solid #999;}
.wrapper-empresa .foto-endereco {width: 1018px; float: left;}
.wrapper-empresa .foto-empresa { width: 410px; height: 300px; overflow: hidden; float: left;}
.wrapper-empresa .endereco-empresa { margin-top: 15px; padding-top: 15px; width: 100%; float: left; border-top: 1px dashed #999;}
.wrapper-empresa .endereco-empresa h3, 
.wrapper-empresa .endereco-empresa p,
.wrapper-empresa .endereco-empresa a  {font-size: 18px; color: #004991; margin-bottom: 10px;}
.wrapper-empresa .endereco-empresa h3 {font-weight: bold;}
.wrapper-empresa .endereco-empresa a {display : block;}
.wrapper-empresa .endereco-empresa p.sublinhado,
.wrapper-empresa .endereco-empresa a.sublinhado {text-decoration: underline; }
.mapa {width: 588px; height: 300px; float: right;}
.geral {position: relative; overflow: hidden;}
.submit {background: #004991; color: #fff; font-size: 14px; border-radius: 3px; border: none; cursor: pointer;}
.submit:hover {background: #023B6C;}
.msg-faca-busca { font-size: 22px;}

/* maps */
.content-maps { padding: 2px 5px 10px;}
.firstHeading { font-weight: bold; font-size: 16px;}


/*CONTATO*/

.contato form {width: 470px; height: 520px; float: left;}
.contato form p {margin-bottom: 20px; position: relative;}
.contato form span {float: right; color: red;}
.contato form label {width: 105px; display: inline-block; float: left; font-size: 13px; color: #000000;}
.contato form input[type="text"], .contato form input[type="email"], .contato form textarea {width: 340px; padding: 10px; border: solid 1px #9e9999; margin-bottom: 10px;}
.contato form select {height: 36px; width: 362px; padding: 8px 0;}
.contato form input[type="submit"] {width: 362px; height: 30px; cursor: pointer;}
.mapa-getm {float: right; width: 514px; height: 500px;}
.mapa-getm p {font-size: 14px; line-height: 20px;}
.iframe-mapa { border-top: solid 1px #000; border-right: solid 1px #000; box-shadow: -1px 1px 2px 0px #000; margin-bottom: 15px;}
.left {width: 470px; float: left;}
.right {float: right;}
#captchaAnswer {float: left; width: 170px; margin-right: 5px; margin-top: 0;}
.reload {display: inline-block; width: 20px; height: 20px; float: ; left; background: url(../images/reload.png); margin: 0 0 10px 10px; cursor: pointer;}
.mensagens-formulario {display: none; position: absolute; width: 100%; background: rgba(255,255,255,0.8); z-index: 9998; }
.sucesso, .erro {display: none; width: 500px; height: 250px; position: absolute; top: 50%; left: 50%; margin-left: -250px; margin-top: -100px;  background: #F0F0F0; /*background: url(../images/bg-msg-contato.png);*/ z-index: 9999; border-radius: 5px; box-shadow: 1px 1px 8px #5f5f5f;}
.sucesso p, .erro p {color: #004991; font-size: 20px; text-align: center; line-height: 40px; margin-top: 70px;}
.sucesso button, .erro button {display: block; margin: auto; width: 100px; height: 30px; margin-top: 40px;}
.ir-faq {color: #000; font-size: 13px; margin-bottom: 12px; line-height: 15px;}
.ir-faq a {color: #0069a3;}
.mapa-getm .nome-empresa {color: #2400ff; font-size: 20px; margin-bottom: 15px;}

.ajax-loader-gif { width: 362px; height: 34px; background: url(../images/ajax-loader.gif) no-repeat center center; display: none; position: absolute; top: 0; right: 0;}

/*BUSCA EMPRESA, POLITICA PRIVACIDADE, TERMOS E CONDIÇOES, CONTATO */
.busca-empresa h2, .politica-privacidade h2, .termos-condicoes h2, .faq h2, .contato h2, .contato h3 {color: #020c51; font-size: 32px; margin: 20px 0 30px 0; }
.politica-privacidade p, .termos-condicoes p, .faq p, .faq li, .faq div {font-size: 14px; text-align: justify; line-height: 24px; color: #3B3C3A;}

/*FAQ*/
.faq .pergunta {font-weight: bold; font-size: 16px;}
.faq .resposta {margin-bottom: 20px;}
.faq li {list-style-type: circle; }
.bold {font-weight: bold;}
.faq table tbody td:nth-child(1) {padding-right: 10px;}
.faq table tbody td:nth-child(2) {text-align: center;}

/*MIDIA*/
.conteudo.midia {border-bottom: solid 1px #ccc; padding-bottom: 10px;}
.lateral {width: 426px; height: 560px; float: left; overflow: auto; margin-right: 20px;}
.lateral ul {/*float: left; */height: auto; min-height: 560px; overflow-y: scroll;}
.lateral ul li {margin-bottom: 20px; float: left;}
/*.lateral ul li*/ .thumb-video {display: inline-block; float: left; width: 184px; height: 106px; overflow: hidden; margin-right: 14px;}
/*.lateral ul li */.titulo-video {color: #0683C0; float: left; font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.lateral ul li .descricao-video {display: inline-block; width: 220px; line-height: 17px; color: #555; }
.play-video {width: 574px; float: left;}
.iframe-video {width: 573px; height: 410px; background: #000; margin-bottom: 23px; position: relative;}
.iframe-video .load-video { position: absolute; width: 128px; height: 128px; top: 50%; left: 50%; margin-top: -64px; margin-left: -64px; background: url("../images/ajax-loader-2.GIF") no-repeat 0 0;}

.carrosel-videos {/*max-width: 574px;*/ overflow: auto;}
.carrosel-videos ul {/*width: 3000px;*/ min-width: 574px; float: left; overflow-x: scroll;}
.carrosel-videos ul li {width: 164px; float: left; margin-right: 15px;}
.carrosel-videos ul li .thumb-video {float: none; margin-bottom: 5px; width: 164px;}
.carrosel-videos ul li .titulo-video {float: none;}
.lightbox {position: absolute; width: 100%; background: rgba(0,0,0,0.8); z-index: 9998; }
.wrapper-lightbox {position: relative; width: 696px; height: 503px; left: 50%; top: 50%; margin-top: -251px; margin-left: -348px;}
.container-lightbox {width: 640px; height: 480px; position: fixed; top: 50%; left: 50%; background: #fff; margin-top: -240px; margin-left: -320px; z-index: 9999; padding: 7px; border-radius: 5px;}
.btn-fechar {width: 20px; height: 20px; background: url(../images/close-white-small.png); position: absolute; right: -20px; top: -20px; z-index: 10000; display: inline-block; cursor: pointer;}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.busca-empresa form div select {border: solid 1px #9C9C9C;}
	.contato form select {border: solid 1px #9C9C9C;}
	.contato form input[type="submit"] {border: solid 1px #9C9C9C; background: url(../images/bg-btn-contato.png);}
}









